*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    background-color: aqua;
} */
.container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}
.card{
    width: 320px;
    height: fit-content;
    padding: 15px;
    margin: 1rem;
    box-shadow: 0px 8px 15px rgba(128, 128, 128, 0.39);
    border-radius: 10px;
}
.card .image{
    /* background-color: red; */
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .image img{
    width: 100%;
    height: 250px;
}

.content{
    width: 100%;
}
.content .title{
    width: 100%;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 10px 0;
}
.content .description{
    width: 100%;
    font-size: 1rem;
    padding: 10px 0;
}
.content .price{
    width: 100%;
    font-size: 1.5rem;
    padding: 10px 0;
}
.content .ratings{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.1rem;
    /* padding: 10px 0; */
}

.form_container{
    width: 700px;
}
.form_container form{
    width: fit-content;
    margin: 3rem;
    border: 1px solid black;
    padding: 20px;
}
.form_container form .input_box{
    width: 360px;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}
.form_container form .input_box input{
    height: 2rem;
    font-size: 1.1rem;
    padding: 0 20px;
}
.form_container form .input_box .err_msg{
    color: red;
}